<a href="https://colab.research.google.com/github/KeziahAcheampong/Keziah_A/blob/main/week4_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Print a simple message to the screen.
# This confirms that the Python environment is working properly.
print('Hello World!')

Hello World!

In [ ]:
# Create a text variable (string) called middle_name.
# Strings are used to store text data.
middle_name = 'Fitzgerald'

In [ ]:
# Print the full value stored in the variable.
print(middle_name)

Fitzgerald

In [ ]:
# Print the second character in the string.
# Indexing starts at 0 in Python.
print(middle_name[1])

i

In [ ]:
# Print the first character in the string.
print(middle_name[0])

F

In [ ]:
# Print the last character in the string.
# Negative indexing counts from the end of the string.
print(middle_name[-1])

d

In [ ]:
# Print the length of the string.
# len() counts how many characters are in the text.
print(len(middle_name))

10

In [ ]:
# Print the first two characters of the string.
# Slicing uses [start:end] and excludes the end position.
print(middle_name[0:2])

Fi

In [ ]:
# Create two numeric variables.
# These store integer values.
b = 1
c = 2
# Add the two numeric variables together.
print(b + c)
# Combine text and numeric output in one print statement.
# This demonstrates how Python prints multiple values together.
print('Here is a combination of text and numeric variables',
      'in this example we see b + c =', b + c)
# Use \n to create a new line inside a string.
# This improves formatting of printed output.
print('Here we make it pretty because we can \nsplit it into two lines')

3
Here is a combination of text and numeric variables in this example we see b + c = 3
Here we make it pretty because we can
split it into two lines

In [ ]:
# Create a list containing five numbers.
# Lists are ordered and allow changes (mutable).
My_List = [1, 2, 3, 4, 5]
# Access the first value in the list using its index.
# Indexing starts at 0.
My_List[0]
# Modify the first value in the list.
# Lists allow reassignment of values.
My_List[0] = 10
# Display the updated list.
My_List

[10, 2, 3, 4, 5]

In [ ]:
# Create a tuple containing five numbers.
# Tuples are ordered but cannot be changed (immutable).
My_Tuple = (1, 2, 3, 4, 5)
# Access the first value in the tuple.
My_Tuple[0]
# Attempt to change a value in the tuple.
# This will produce an error because tuples are immutable.
My_Tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Create a dictionary.
# Dictionaries store data as key:value pairs.
# Keys must be unique.
My_Dictionary = {
    'Name': 'John',
    'Age': 30,
    'City': 'New York'
}
# Access a value in the dictionary using its key.
My_Dictionary['Name']
# Modify a value in the dictionary.
# Dictionaries allow updating values.
My_Dictionary['Age'] = 31
# Display the updated dictionary.
My_Dictionary

{'Name': 'John', 'Age': 31, 'City': 'New York'}

In [ ]:
# Create a set.
# Sets store unique values and do not allow duplicates.
My_Set = {1, 2, 3, 4, 5}
# Display the set.
My_Set
# Create a set with duplicate values.
# The duplicates will automatically be removed.
My_Set = {1, 2, 2, 3, 4, 5}

{1, 2, 3, 4, 5}